<div class="container-xl px-4 mt-4">
  <!-- Profile picture card-->
  <div class="card mb-4 mb-xl-0">
    <div class="card-header">Profile Picture</div>
    <div class="card-body text-center">
      <!-- Profile picture image-->
      <img class="img-account-profile rounded-circle mb-2" src="https://t3.ftcdn.net/jpg/03/53/11/00/360_F_353110097_nbpmfn9iHlxef4EDIhXB1tdTD0lcWhG9.jpg" alt="">
      <!-- Profile picture help block-->
      <div class="small font-italic text-muted mb-4">JPG or PNG no larger than 5 MB</div>
      <!-- Profile picture upload button-->
      <form action="/action_page.php">
        <input type="file" id="myFile" name="filename">
      </form>

    </div>
  </div>
</div>
<div class="col-xl-8">
  <!-- Account details card-->
  <div class="card mb-4">
    <div class="card-header">Account Details</div>
    <div class="card-body">
        <form method="post" appearance="fill">
          <label>Enter your First Name</label>
          <input [(ngModel)]="UserData.firstName" type="firstName" name="name" placeholder="First Name" required="required" />
          <label>Enter your Last Name</label>
          <input [(ngModel)]="UserData.lastName" type="lastName" name="name" placeholder="Last Name" required="required" />
          <label>Username</label>
          <input [(ngModel)]="UserData.username" type="user" name="username" placeholder="user123" required="required" />
          <label>Enter your Birthday</label>
          <input [(ngModel)]="UserData.birthday" type="birth" name="birthday" placeholder="08/28/2002" required="required" />
          <label>Enter your Phone Number</label>
          <input [(ngModel)]="UserData.phoneNumber" type="phone" name="phone" placeholder="(xxx)-xxx-xxxx" required="required" />
        </form>
        <button (click)="User()" type="button" class="btn btn-secondary btn-block btn-large">
          <a>Save Changes</a>
        </button>
    </div>
  </div>
</div>
