
<div class="form-div">
    <h1>Sign Up</h1>
    <form method="post" appearance="fill">
            <label>Email Address</label>
            <input type="text" name="e" placeholder="email.address@example.com" required="required" />
            <label>Username</label>
            <input type="text" name="u" placeholder="user123" required="required" />
            <label>Password</label>
            <input type="password" name="p" placeholder="password" required="required" />
            <label>Confirm Password</label>
            <input type="password" name="p" placeholder="password" required="required" />
    </form>
    <button type="button" class="btn btn-secondary btn-block btn-large">
        <a>Create my account!</a>
    </button>
</div>