<div class="container-xl px-4 mt-4">
  <!-- Profile picture card-->
  <div class="card mb-4 mb-xl-0">
    <div class="card-header">Profile Picture</div>
    <div class="card-body text-center">
      <!-- Profile picture image-->
      <img class="img-account-profile rounded-circle mb-2" [src]="'assets/images/' + this.me.profilePicture" alt="Post Image">
    </div>
  </div>
</div>
<div class="col-xl-8">
  <!-- Account details card-->
  <div class="card mb-4">
    <div class="card-header">Account Details</div>
    <div class="card-body">
      <form>
        <!-- Form Group (username)-->
        <div class="mb-3">
          <div class="col-md-6">
            <label class="small mb-1" for="inputUsername">Username: {{me.username}}</label>
          </div>
        </div>
        <!-- Form Group (email address)-->
        <div class="mb-3">
          <div class="col-md-6">
            <label class="small mb-1" for="inputEmailAddress">Email address: {{me.email}}</label>
          </div>
        </div>
        <!-- Form Row-->
        <div class="row gx-3 mb-3">
          <!-- Form Group (first name)-->
          <div class="col-md-6">
            <label class="small mb-1" for="inputFirstName">First Name: {{me.firstName}}</label>
          </div>
        </div>
        <div class="row gx-3 mb-3">
          <!-- Form Group (phone number)-->
          <div class="col-md-6">
            <label class="small mb-1" for="inputLastName">Last Name: {{me.lastname}}</label>
          </div>
        </div>
        <div class="row gx-3 mb-3">
          <!-- Form Group (birthday)-->
          <div class="col-md-6">
            <label class="small mb-1" for="inputBirthday">Birthday: {{me.birthday}}</label>
          </div>
        </div>
          <div class="row gx-3 mb-3">
            <div class="col-md-6">
              <label class="small mb-1" for="inputPhoneNumber">Phone Number: {{me.phoneNumber}}</label>
            </div>
          </div>

          <!-- Save changes button-->
          <button class="btn btn-primary" type="button" mat-raised-button color="primary">
            <a routerLink="/editAccount">Edit Account Information</a>
          </button>
      </form>
    </div>
  </div>
  <!-- Account details card-->
  <div class="card mb-4">
    <div class="card-header">Your Posts</div>
      <div *ngFor="let post of posts">
        <div class="post-container" *ngIf="me.username == post.postedBy.username">
          <h2>{{ post.postDescription }}</h2>
          <img [src]="'assets/images/' + post.images[0]?.url" alt="Post Image">
          <h2>{{ post.locationName }}</h2>
          <button mat-button (click)="onDelete(post.id)">DELETE</button>
        </div>
      </div>
      </div>
  </div>

