ng-container {
    display: flex;
    flex-direction: column;
}
  
h1 {
    padding: 10px;
}

button[name=choose] {
    display: block;
    margin: 0 auto;
}

mat-dialog-actions {
    display: flex;
    justify-content: center;
}

button[name=closeBtn] {
    margin-right: 10px;
}

button[name=postBtn] {
    margin-left: 10px;
}