mat-card {
    width: fit-content;
}
.PostBtn {
    margin-right: -890px;
}
.ViewProfile{
    margin-right: -600px;
}
.logsuccess-div {
    height: 13vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.whereto-div {
    justify-content: center;
    align-items: center;
    margin-right: 300px;
    margin: 0 auto;
    padding-top: 30px;
    font-size: 16px; 
    padding-left: 35%;
}

.post-container {
  border: 1px solid black;
  align-items: center;
  padding: 10px;
  margin-bottom: 20px;
  margin-right: 20px;
  width: auto;
  display: inline-block;
  text-align: center;
}

.post-container h2 {
  font-size: 18px;
  margin-bottom: 5px;
  margin-top: 5px;
  align-items: center;
}

.post-container h3 {
  font-size: 16px;
  margin-bottom: 5px;
  margin-top: 5px;
  align-items: center;
}

.post-container img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}
