<mat-toolbar class="justify-between max-w-7xl mx-auto border-x">
    <a routerLink="HomePage">Activio</a>
    <button type="homeBtn" mat-raised-button color="primary">
      <a routerLink="/logsuccess">Home</a>
    </button>
  </mat-toolbar>

<div class="post-div">
    <h1>Add your activity to Activio!</h1>
    <input 
    style="display: none"
    type="file"
    (change)="onFileSelected($event)"
    #fileInput>
    <div>
        <button mat-raised-button color="secondary" type="btnUp" (click)="fileInput.click()">Choose file</button>
    </div>
</div>

<div class="loc-div">
    <mat-form-field>
        <label>City</label>
        <input [(ngModel)]="postData.locationname" name="loc" matInput placeholder="Where was this?" required="required">
    </mat-form-field>
</div>

<div class="act-div">
    <mat-form-field appearance="fill">
        <label>Activity</label>
        <input [(ngModel)]="postData.postDescription" matInput name="act" placeholder="Describe the activity!" required="required">
    </mat-form-field>
</div>

<div class="btn-div">
    <button mat-raised-button color="primary" name="postBtn" type="button" (click)="onPost()">Post!</button>
</div>
