mat-card {
    width: fit-content;
}

.main-div {
    height: 13vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.whereto-div, .location-div {
    display: inline-block;
    box-sizing: border-box;
    padding-top: 30px;
    font-size: 16px;
    
}

.whereto-div {
    margin-left: 210px;
}

.location-div {
    margin-left: 15px;
    width: 80%;
}

.about-us-div {
    height: 14vh;
    width: 90%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}