<mat-toolbar class="justify-between max-w-7xl mx-auto border-x">
  <a routerLink="HomePage">Activio</a>
  <div class="LogBtn">
    <button type="LogBtn" mat-raised-button color="primary">
      <a routerLink="/login">Login</a>
    </button>
  </div>

</mat-toolbar>
<div class="main-div">
  <mat-card class="activio-welcome">
    <mat-card-header>
      <mat-card-title>
        Activities to do in:
      </mat-card-title>
    </mat-card-header>
  </mat-card>
</div>

<div class="post-container" *ngFor="let post of posts">
  <h2>{{ post.postDescription }}</h2>
  <img [src]="'assets/images/' + post.images[0]?.url" alt="Post Image">
  <h2>{{ post.locationName }}</h2>
</div>
